# Define individuals that are responsible for code in this repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh
/.husky/                                        @fuxingloh
/.idea/                                         @fuxingloh @jingyi2811 @thedoublejay

/packages/jellyfish/                            @fuxingloh @canonbrother
/packages/jellyfish-address/                    @fuxingloh @ivan-zynesis

/packages/jellyfish-api-core/                                   @fuxingloh @canonbrother @jingyi2811 @thedoublejay @ivan-zynesis @siradji @aikchun

/packages/jellyfish-api-core/src/category/icxorderbook.ts       @fuxingloh @surangap @monstrobishi @canonbrother @Jouzo
/packages/jellyfish-api-core/__tests__/category/icxorderbook    @fuxingloh @surangap @monstrobishi @canonbrother @Jouzo
/packages/jellyfish-api-core/src/category/spv.ts                @fuxingloh @surangap @monstrobishi @canonbrother @Jouzo
/packages/jellyfish-api-core/__tests__/category/spv             @fuxingloh @surangap @monstrobishi @canonbrother @Jouzo

/packages/jellyfish-api-jsonrpc/                @fuxingloh @thedoublejay
/packages/jellyfish-crypto/                     @fuxingloh @ivan-zynesis
/packages/jellyfish-json/                       @fuxingloh @canonbrother
/packages/jellyfish-network/                    @fuxingloh @ivan-zynesis

/packages/jellyfish-transaction/                @fuxingloh @ivan-zynesis @canonbrother @monstrobishi @surangap @Jouzo @jingyi2811
/packages/jellyfish-transaction/                @fuxingloh @ivan-zynesis @canonbrother @monstrobishi @surangap @Jouzo @jingyi2811
/packages/jellyfish-transaction-signature/      @fuxingloh @ivan-zynesis @surangap

/packages/jellyfish-wallet/                     @fuxingloh @ivan-zynesis @monstrobishi @surangap
/packages/jellyfish-wallet-classic/             @fuxingloh @ivan-zynesis @monstrobishi
/packages/jellyfish-wallet-encrypted/           @fuxingloh @ivan-zynesis
/packages/jellyfish-wallet-mnemonic/            @fuxingloh @ivan-zynesis
/packages/jellyfish-wallet-ledger/              @fuxingloh @surangap @ivan-zynesis

/packages/testcontainers/                       @fuxingloh @canonbrother @surangap
/packages/testing/                              @fuxingloh @canonbrother

lerna.json                                      @fuxingloh @canonbrother
tsconfig.json                                   @fuxingloh @canonbrother @ivan-zynesis
tsconfig.base.json                              @fuxingloh @canonbrother @ivan-zynesis
tsconfig.build.json                             @fuxingloh @canonbrother @ivan-zynesis
jest.config.js                                  @fuxingloh @canonbrother @ivan-zynesis
package.json                                    @fuxingloh
package-lock.json                               @fuxingloh

CONTRIBUTING.md                                 @fuxingloh @canonbrother @jingyi2811
README.md                                       @fuxingloh
LICENSE                                         @fuxingloh
