{
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "standard-with-typescript",
    "standard-jsx"
  ],
  "ignorePatterns": [
    "dist",
    "*.json",
    "website"
  ],
  "rules": {
    "curly": [
      "error",
      "all"
    ],
    "brace-style": [
      "error",
      "1tbs"
    ],
    "func-style": [
      2,
      "declaration"
    ],
    "indent": "off",
    "@typescript-eslint/indent": [
      "error",
      2,
      {
        "offsetTernaryExpressions": true,
        "SwitchCase": 1
      }
    ],
    "import/no-default-export": "error"
  },
  "overrides": [
    {
      "files": [
        "**/jellyfish-transaction/__tests__/**/*.test.ts",
        "**/jellyfish-transaction/src/script/dftx/**/*.ts",
        "**/jellyfish-transaction/src/*.ts",
        "**/jellyfish-block/__tests__/**/*.test.ts",
        "**/jellyfish-block/src/*.ts",
        "**/jellyfish-buffer/__tests__/**/*.test.ts",
        "**/jellyfish-buffer/src/*.ts"
      ],
      "rules": {
        "no-return-assign": "off"
      }
    },
    {
      "files": [
        "**/__tests__/**/*.test.ts"
      ],
      "rules": {
        "@typescript-eslint/no-non-null-assertion": "off",
        "no-lone-blocks": "off"
      }
    }
  ]
}
