{
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "standard-with-typescript",
    "standard-jsx"
  ],
  "ignorePatterns": [
    "dist",
    "*.json",
    "website"
  ],
  "rules": {
    "curly": ["error", "all"],
    "brace-style": ["error", "1tbs"],
    "func-style": [2, "declaration"],
    "import/no-default-export": "error"
  },
  "overrides": [
    {
      "files": [
        "**/jellyfish-transaction/__tests__/**/*.test.ts",
        "**/jellyfish-transaction/src/script/dftx/**/*.ts",
        "**/jellyfish-transaction/src/*.ts",
        "**/jellyfish-block/__tests__/**/*.test.ts",
        "**/jellyfish-block/src/*.ts",
        "**/jellyfish-buffer/__tests__/**/*.test.ts",
        "**/jellyfish-buffer/src/*.ts"
      ],
      "rules": {
        "no-return-assign": "off"
      }
    }
  ]
}
