version: "3.7"

services:
  defi-blockchain:
    image: defi/defichain:4.0.0-beta13

    ports:
      - "19554:19554"
    command: >
      defid
      -printtoconsole
      -rpcallowip=0.0.0.0/0
      -rpcbind=0.0.0.0
      -rpcuser=whale-rpcuser
      -rpcpassword=whale-rpcpassword
      -rpcworkqueue=512
      -masternode_operator=mswsMVsyGMj1FzDMbbxw2QW3KvQAv2FKiy
      -masternode_operator=mps7BdmwEF2vQ9DREDyNPibqsuSRZ8LuwQ
      -masternode_operator=bcrt1qmfvw3dp3u6fdvqkdc0y3lr0e596le9cf22vtsv
      -masternode_operator=bcrt1qurwyhta75n2g75u2u5nds9p6w9v62y8wr40d2r
      -regtest=1
      -jellyfish_regtest=1
      -txnotokens=0
      -logtimemicros
      -txindex=1
      -acindex=1
      -amkheight=0
      -bayfrontheight=1
      -bayfrontgardensheight=2
      -clarkequayheight=3
      -dakotaheight=4
      -dakotacrescentheight=5
      -eunosheight=6
      -eunospayaheight=7
      -fortcanningheight=8
      -fortcanningmuseumheight=9
      -fortcanninghillheight=10
      -fortcanningroadheight=11
      -fortcanningcrunchheight=12
      -fortcanningspringheight=13
      -fortcanninggreatworldheight=14
      -fortcanningepilogueheight=15
      -grandcentralheight=16
      -grandcentralepilogueheight=17
      -nextnetworkupgradeheight=18
      -regtest-skip-loan-collateral-validation
      -regtest-minttoken-simulate-mainnet=0

  defi-whale:
    build:
      context: ../..
      args:
        APP: whale-api
    ports:
      - "3000:3000"
    depends_on:
      - defi-blockchain
    environment:
      WHALE_DEFID_URL: http://whale-rpcuser:whale-rpcpassword@defi-blockchain:19554
      WHALE_NETWORK: regtest
      WHALE_DATABASE_PROVIDER: memory
